
@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <h1>Config Ekle</h1>
    @using (Html.BeginForm("Add", "Config", FormMethod.Post))
    {
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" value="Name" required="">
        </div>

        <div class="form-group">
            <label>Type:</label>
            <select name="type" class="form-control">
                <option selected value="int">Int</option>
                <option value="bool">Boolean</option>
                <option value="string">String</option>
            </select>
        </div>


        <div class="form-group">
            <label>Value:</label>
            <input type="text" name="value" class="form-control" value="" required="">
        </div>

        <div class="form-group">
            <label>Application Name:</label>
            <input type="text" name="applicationName" class="form-control" value="Service-A" required="">
        </div>

        <button type="submit" class="btn btn-success save-btn">Kaydet</button>
    }

    <br />
</div>


